<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教师登录</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="/toIndex">首页</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">信息管理<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/stuWork">学生课程查询</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/teaWork">教师课程查询</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="/adminWork">系统管理</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:text="${session.get('username') != null}? ${session.get('username') + '，您好'} : '未登录'"></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">账号中心<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/toChgPwd">修改密码</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li th:if="${session.get('username')} != null">
                                    <a href="/logout">退出</a>
                                </li>
                                <li th:if="${session.get('username')} == null">
                                    <a href="/stuWork">学生登录</a>
                                </li>
                                <li class="divider" th:if="${session.get('username')} == null">
                                </li>
                                <li th:if="${session.get('username')} == null">
                                    <a href="/teaWork">教师登录</a>
                                </li>
                                <li class="divider" th:if="${session.get('username')} == null">
                                </li>
                                <li th:if="${session.get('username')} == null">
                                    <a href="/adminWork">管理员登录</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>

    <div>
    <h3>请先修改与该教师有关课程的主讲老师信息！</h3>
    </div>

</div>
</body>
</html>